@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?ui795y") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  font-family: "Poppins", sans-serif;
  color: #333645;
  margin: 0 auto;
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 60%;
  height: 200px;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  font-family: Arial, sans-serif;
  text-wrap: wrap;
}

#cookie-banner p {
  margin: 0;
  font-size: 0.9rem;
}

#cookie-banner button {
  background-color: #00aaff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

#sidebar {
  background-color: #333645;
  margin-left: 50px;
  width: 200px;
  z-index: 1000000000;
}
#sidebar h3 {
  color: white;
  padding: 10px 0;
  text-align: center;
}
#sidebar p {
  color: white;
  border: 1px gray solid;
  padding: 10px 0;
  padding-left: 20px;
}
#sidebar .icon-double-right-arrow {
  content: "\ea21";
}

.hover-menus {
  margin: 200px;
  display: none;
}

.grid-container span {
  color: white;
}

.grid-container2 span {
  color: white;
}

[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hover {
  display: none;
}

header {
  height: 150px;
  margin-bottom: 0px;
  z-index: 100000;
}
header nav {
  display: none;
}

.header-top {
  height: 10vh;
  width: 100vw;
  gap: 5px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 0;
}

div {
  margin-top: 30px;
}

.netmatters-logo {
  width: 60vw;
  padding-left: 10px;
}
.netmatters-logo img {
  margin-top: 5%;
  margin-left: 0;
}

button {
  text-transform: uppercase;
}

.menu-button {
  height: 10vh;
  margin-right: 20px;
}

.icon-menu::before {
  content: "\e9bd";
  color: white;
  text-align: center;
  font-size: 40px;
  background: #333645;
  border: none;
  border-radius: 8%;
  padding: 20%;
  justify-self: center;
}

.icon-x::before {
  content: "\ea10";
  color: white;
  text-align: center;
  font-size: 40px;
  background: #333645;
  border: none;
  border-radius: 8%;
  padding: 20%;
  justify-self: center;
}

.contact {
  font-size: 0px;
  background: white;
  border: none;
  margin: 0;
  height: 50px;
  width: 0px;
  padding: 0;
}
.contact span {
  width: 50px;
  height: 50px;
}

.icon-phone::before {
  content: "\e942";
  font-size: 50px;
}

.support {
  display: none;
}

.home-image-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}
.home-image-container h1 {
  color: white;
}
.home-image-container p {
  color: white;
}
.home-image-container .find-out-more-button {
  width: 200px;
  height: 60px;
  border: 0px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  background-color: #f7b322;
  position: absolute;
  top: 500px;
  left: 100px;
}

.find-out-more-button::after {
  content: " →";
}

.home-image-header {
  position: absolute;
  top: 100px;
  left: 16px;
  margin: 0 25px;
}

.home-image-paragraph {
  position: absolute;
  top: 300px;
  left: 16px;
  margin: 40px 25px;
}

.home-carousel {
  height: 600px;
}
.home-carousel .home-image {
  height: 600px;
  width: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-bar {
  margin-left: 0;
  width: 100vw;
}
.search-bar #search2 {
  display: none;
}
.search-bar #search {
  display: block;
  height: 7.5vh;
  width: 80vw;
  margin: 0 5%;
  margin-top: 0px;
  padding: 5px 15px;
  border: 2px #cecece solid;
  border-radius: 3px;
  background-color: #e5e5e5;
  background-image: url(icons/search.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: right;
}
.search-bar button {
  display: none;
}

h2 {
  margin-left: 25px;
  margin-top: 15px;
}

body h2 {
  font-weight: 300;
  font-size: 36px;
}
body a {
  text-decoration: none;
  display: none;
}

.grid-container {
  display: grid;
  gap: 5px;
  width: 90%;
  margin: 20px 5%;
}
.grid-container h3 {
  font-weight: 300;
  font-size: 28px;
  margin: 15px auto;
}
.grid-container p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.grid-container span {
  border-radius: 100%;
  padding: 15px;
  margin: 25px;
}
.grid-container div {
  border: 1px solid black;
  text-align: center;
  max-width: 100%;
  border-radius: 20px;
  height: 100%;
  box-shadow: 2px 2px 5px;
}
.grid-container button {
  width: 150px;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.grid-container2 {
  display: grid;
  gap: 5px;
  width: 90%;
  margin: 0 5%;
}
.grid-container2 h3 {
  font-weight: 200;
  font-size: 28px;
  margin: 15px auto;
}
.grid-container2 p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.grid-container2 span {
  border-radius: 100%;
  padding: 15px;
  margin: 25px;
}
.grid-container2 div {
  border: 1px solid black;
  text-align: center;
  width: 80%;
  border-radius: 20px;
  height: 100%;
  box-shadow: 2px 2px 10px;
}
.grid-container2 button {
  width: 150px;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.item-1 {
  top: 0px;
}
.item-1 span {
  background-color: #68849c;
  filter: invert(0);
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-1 span::before {
  content: "\e957";
}
.item-1 button {
  background: #f7b322;
}
.item-1:hover {
  background-color: #68849c;
  top: -10px;
  transition: 0.5s ease;
}
.item-1:hover p {
  color: white;
}
.item-1:hover h3 {
  color: white;
}
.item-1:hover button {
  background-color: white;
  color: #68849c;
}
.item-1:hover span {
  background-color: white;
  color: #68849c;
}

.item-2 span {
  background-color: #4183d7;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-2 span::before {
  content: "\e956";
}
.item-2 button {
  background: #4183d7;
}
.item-2:hover {
  background-color: #4183d7;
  transition: 0.5s ease;
}
.item-2:hover p {
  color: white;
}
.item-2:hover h3 {
  color: white;
}
.item-2:hover button {
  background-color: white;
  color: #4183d7;
}
.item-2:hover span {
  color: #4183d7;
  background-color: white;
}

.item-3 span {
  background-color: #30cc71;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-3 span::before {
  content: "\e99c";
}
.item-3 button {
  background: #30cc71;
}
.item-3:hover {
  background-color: #30cc71;
  transition: 0.5s ease;
}
.item-3:hover p {
  color: white;
}
.item-3:hover h3 {
  color: white;
}
.item-3:hover button {
  background-color: white;
  color: #30cc71;
}
.item-3:hover span {
  background-color: white;
  color: #30cc71;
}

.item-4 span {
  background-color: #d64541;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-4 span::before {
  content: "\e942";
}
.item-4 button {
  background: #d64541;
}
.item-4:hover {
  background-color: #d64541;
  transition: 0.5s ease;
}
.item-4:hover p {
  color: white;
}
.item-4:hover h3 {
  color: white;
}
.item-4:hover button {
  background-color: white;
  color: #d64541;
}
.item-4:hover span {
  background-color: white;
  color: #d64541;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: transform 0.3s ease;
  background-color: #fff;
}
header.header-hidden {
  transform: translateY(-150%);
  background-color: rgba(0, 0, 0, 0);
}

.item-5 span {
  background-color: #6b5b91;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-5 span::before {
  content: "\ea80";
}
.item-5 button {
  background: #6b5b91;
}
.item-5:hover {
  background-color: #6b5b91;
  transition: 0.5s ease;
}
.item-5:hover p {
  color: white;
}
.item-5:hover h3 {
  color: white;
}
.item-5:hover button {
  background-color: white;
  color: #6b5b91;
}
.item-5:hover span {
  color: #6b5b91;
  background-color: white;
}

.item-6 span {
  background-color: #f62459;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-6 span::before {
  content: "\e9b4";
}
.item-6 button {
  background: #f62459;
}
.item-6:hover {
  background-color: #f62459;
  transition: 0.5s ease;
}
.item-6:hover p {
  color: white;
}
.item-6:hover h3 {
  color: white;
}
.item-6:hover button {
  background-color: white;
  color: #f62459;
}
.item-6:hover span {
  color: #f62459;
  background-color: white;
}

.item-7 button {
  background: #ce4125;
}
.item-7 span {
  background-color: #ce4125;
  padding: 15px;
  font-size: 40px;
  margin: 25px;
  display: inline-block;
}
.item-7 span::before {
  content: "\e905";
}
.item-7:hover {
  background-color: #ce4125;
  transition: 0.5s ease;
}
.item-7:hover p {
  color: white;
}
.item-7:hover h3 {
  color: white;
}
.item-7:hover button {
  background-color: white;
  color: #ce4125;
}
.item-7:hover span {
  background-color: white;
  color: #f62459;
}

.partner-logos {
  display: flex;
  gap: 10px;
  overflow: hidden;
  width: 80%;
  margin-top: 20px;
}
.partner-logos img {
  filter: grayscale(1);
  height: 100px;
  margin-top: 50px;
}
.partner-logos img:hover {
  filter: grayscale(0);
}

#trustpilot-button {
  background-color: #30cc71;
}
#trustpilot-button:hover {
  background-color: #186538;
}

#google-button {
  background-color: steelblue;
}
#google-button:hover {
  background-color: #224058;
}

.banner {
  background: #333645;
}
.banner h2 {
  color: white;
  text-align: center;
}
.banner p {
  color: white;
  text-align: left;
  margin: 0 0 0 10px;
}
.banner button {
  display: inline;
  width: auto;
  align-items: left;
  height: 50px;
  font-size: 32px;
  margin: 10px;
  border-radius: 10px;
  background-color: #272936;
  color: white;
  border: none;
}
.banner button:hover {
  background: black;
}
.banner button::after {
  font-size: 32px;
  content: "→";
}

.news-posts {
  display: grid;
  gap: 15px;
  margin: 5px;
  margin-top: 25px;
}
.news-posts img {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}
.news-posts article {
  width: 300px;
  border: 1px solid gray;
}
.news-posts button {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 22px;
}
.news-posts p {
  font-size: 12px;
  margin: 5px 10px;
}
.news-posts h4 {
  margin: 5px 10px;
}

.article-1 h4 {
  color: #4183d7;
}
.article-1 button {
  background-color: #4183d7;
  color: white;
}

.article-2 h4 {
  color: #f7b322;
}
.article-2 button {
  background-color: #f7b322;
  color: white;
}

.article-3 h4 {
  color: #f62459;
}
.article-3 button {
  background-color: #f62459;
  color: white;
}

footer {
  background-color: #333645;
  display: grid;
}
footer li {
  color: white;
}
footer li:hover {
  text-decoration: underline;
}
footer h4 {
  color: white;
}
footer button {
  display: inline;
  width: auto;
  align-items: left;
  height: 50px;
  font-size: 32px;
  margin: 10px;
  background-color: #272936;
  color: white;
  border: none;
  align-items: center;
}
footer img {
  filter: brightness(10);
  filter: invert(1);
}
footer .footer-logo {
  width: 80%;
}

.copyright {
  background: #212330;
  width: 100%;
}
.copyright p {
  color: white;
  font-size: 12px;
}
.copyright a {
  color: white;
  font-size: 12px;
}

.bold-text {
  font-weight: 600;
}

@media (min-width: 800px) {
  * {
    margin: 0;
  }
  #header-nav {
    display: block;
    background-color: #272936;
    height: 120px;
  }
  #header-nav h2 {
    display: none;
  }
  #header-nav .nav-dropdown-selector {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  #header-nav .nav-dropdown-selector li {
    display: block;
    height: 120px;
    width: 150px;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  #header-nav .nav-dropdown-selector li p {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }
  #header-nav .nav-dropdown-selector li p::first-line {
    font-size: 12px;
  }
  #header-nav .nav-dropdown-selector #phone-icon-button {
    width: 0px;
  }
  #header-nav .nav-dropdown-selector span {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  #header-nav .nav-dropdown-selector .triangle {
    display: none;
  }
  #header-nav .cd-hover span {
    display: none;
  }
  #header-nav .support-hover span {
    display: none;
  }
  #header-nav .dm-hover span {
    display: none;
  }
  #header-nav .ts-hover span {
    display: none;
  }
  #header-nav .wd-hover span {
    display: none;
  }
  #header-nav .cs-hover span {
    display: none;
  }
  #header-nav .dc-hover span {
    display: none;
  }
  #header-nav .CnD:hover {
    background-color: #617a94;
  }
  #header-nav .CnD:hover #cd-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #617a94 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .CnD:hover .cd-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 600px;
    background-color: #435466;
    margin-top: 0;
  }
  #header-nav .CnD:hover .cd-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .CnD:hover .cd-hover ul {
    width: 100vw;
    height: 300px;
  }
  #header-nav .CnD:hover .cd-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .CnD:hover .cd-hover span {
    display: inline;
  }
  #header-nav .CnD:hover .cd-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .CnD:hover .cd-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .CnD:hover span::before {
    color: white;
  }
  #header-nav .Support:hover {
    background-color: #4183d7;
  }
  #header-nav .Support:hover #support-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #4183d7 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .Support:hover .support-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #235ea8;
    margin-top: 0;
  }
  #header-nav .Support:hover .support-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .Support:hover .support-hover ul {
    width: 100vw;
    height: 150px;
  }
  #header-nav .Support:hover .support-hover h2 {
    display: block;
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .Support:hover .support-hover span {
    display: inline;
  }
  #header-nav .Support:hover .support-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .Support:hover .support-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .Support:hover span::before {
    color: white;
  }
  #header-nav .DM:hover {
    background-color: #30cc71;
  }
  #header-nav .DM:hover #dm-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #30cc71 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .DM:hover .dm-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #218e4f;
    margin-top: 0;
  }
  #header-nav .DM:hover .dm-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .DM:hover .dm-hover ul {
    width: 100vw;
    height: 150px;
  }
  #header-nav .DM:hover .dm-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .DM:hover .dm-hover span {
    display: inline;
  }
  #header-nav .DM:hover .dm-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .DM:hover .dm-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .DM:hover span::before {
    color: white;
  }
  #header-nav .TS:hover {
    background-color: #d84444;
  }
  #header-nav .TS:hover #ts-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #d84444 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .TS:hover .ts-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #ac2424;
    margin-top: 0;
  }
  #header-nav .TS:hover .ts-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .TS:hover .ts-hover ul {
    width: 100vw;
    height: 150px;
  }
  #header-nav .TS:hover .ts-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .TS:hover .ts-hover span {
    display: inline;
  }
  #header-nav .TS:hover .ts-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .TS:hover .ts-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .TS:hover span::before {
    color: white;
  }
  #header-nav .wd:hover {
    background-color: #6b5b91;
  }
  #header-nav .wd:hover #wd-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #6b5b91 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .wd:hover .wd-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #483e62;
    margin-top: 0;
  }
  #header-nav .wd:hover .wd-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .wd:hover .wd-hover ul {
    width: 100vw;
    height: 150px;
  }
  #header-nav .wd:hover .wd-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .wd:hover .wd-hover span {
    display: inline;
  }
  #header-nav .wd:hover .wd-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .wd:hover .wd-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .wd:hover span::before {
    color: white;
  }
  #header-nav .CS:hover {
    background-color: #f62459;
  }
  #header-nav .CS:hover #cs-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #f62459 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .CS:hover .cs-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #c50838;
    margin-top: 0;
  }
  #header-nav .CS:hover .cs-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .CS:hover .cs-hover ul {
    width: 100vw;
    height: 150px;
  }
  #header-nav .CS:hover .cs-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .CS:hover .cs-hover span {
    display: inline;
  }
  #header-nav .CS:hover .cs-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 200px;
    text-align: left;
  }
  #header-nav .CS:hover .cs-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .CS:hover span::before {
    color: white;
  }
  #header-nav .DC:hover {
    background-color: #ce4125;
  }
  #header-nav .DC:hover #dc-triangle {
    display: block;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 75px 0 75px;
    border-color: #ce4125 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 2000000;
    margin: 0;
  }
  #header-nav .DC:hover .dc-hover {
    display: block;
    position: absolute;
    z-index: 10000;
    left: 0;
    height: 300px;
    background-color: #8d2d19;
    margin-top: 0;
  }
  #header-nav .DC:hover .dc-hover .nav-dropdown {
    display: flex;
  }
  #header-nav .DC:hover .dc-hover ul {
    width: 100vw;
    height: 150px;
    align-content: left;
  }
  #header-nav .DC:hover .dc-hover h2 {
    margin-top: 30px;
    text-align: left;
    color: white;
    margin-left: 16vw;
    display: block;
  }
  #header-nav .DC:hover .dc-hover span {
    display: inline;
  }
  #header-nav .DC:hover .dc-hover li {
    display: inline-block;
    font-size: 18px;
    margin-left: 8vw;
    margin-right: 8vw;
    height: 10px;
    width: 250px;
    text-align: left;
  }
  #header-nav .DC:hover .dc-hover li #move-to-left {
    left: 0;
  }
  #header-nav .DC:hover .dc-hover li:hover {
    text-decoration: underline;
  }
  #header-nav .DC:hover span::before {
    color: white;
  }
  #header-nav .icon-laptop::before {
    content: "\e957";
    color: #617a94;
  }
  #header-nav .icon-display::before {
    content: "\e956";
    color: #4183d7;
  }
  #header-nav .icon-stats::before {
    content: "\e99c";
    color: #30cc71;
  }
  #header-nav .icon-nav-phone::before {
    content: "\e942";
    color: #d84444;
  }
  #header-nav .icon-embed::before {
    content: "\ea80";
    color: #6b5b91;
  }
  #header-nav .icon-shield::before {
    content: "\e9b4";
    color: #f62459;
  }
  #header-nav .icon-pencil::before {
    content: "\e905";
    color: #ce4125;
  }
  h1 {
    font-size: 32px;
  }
  .home-image-container {
    width: 100%;
    margin-top: 75px;
  }
  .home-image-container h1 {
    margin-bottom: 20px;
    font-size: 64px;
    text-align: left;
    width: 1000px;
  }
  .home-image-container p {
    margin-top: 0px;
    font-size: 26px;
    width: 800px;
    font-weight: 500;
    text-align: left;
  }
  .home-image-container img {
    height: 10px;
    -o-object-fit: none;
       object-fit: none;
  }
  footer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 16px;
  }
  .find-out-more-button {
    top: 350px;
    left: 40px;
  }
  .news-posts {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 300px 300px 300px;
    margin: 100px auto;
  }
  .news-posts article {
    width: 300px;
    height: 500px;
  }
  .partner-logos {
    width: 100%;
    gap: 50px;
    justify-content: center;
  }
  .partner-logos img {
    height: 50px;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 20px auto;
  }
  .grid-container div {
    max-width: 80%;
  }
  .grid-container2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 10% 50px 10%;
  }
  .grid-container2 div {
    width: 75%;
  }
  .partner-logos {
    overflow: visible;
    margin-bottom: 10px;
  }
  .partner-logos img {
    max-height: 50px;
    width: auto;
    gap: 10px;
  }
  .banner {
    display: flex;
    align-items: center;
  }
  .banner flex div {
    min-height: 400px;
    max-height: 80vh;
  }
  .banner p {
    margin-left: 200px;
    min-width: 60%;
    max-width: 80%;
  }
  .banner button {
    margin: 25px 0 25px 200px;
    font-size: 24px;
  }
  #review {
    font-size: 32px;
  }
  .icon-phone::before {
    display: none;
  }
  header .netmatters-logo {
    margin: 20px 0 0 20px;
    width: 300px;
  }
  header .contact {
    font-size: 23px;
    background-color: #a09ca4;
    width: auto;
    padding: 0 10px;
  }
  header .icon-contact::before {
    content: "\e942";
    color: white;
    padding-right: 5px;
  }
  header .support {
    font-size: 23px;
    background-color: #4183d7;
    width: auto;
    padding: 0 10px;
  }
  header .icon-support::before {
    content: "\e96f";
    color: white;
    padding-right: 5px;
  }
  header div {
    height: 80px;
  }
  header .buttons {
    display: block;
    height: 60px;
    width: 100px;
  }
  header .buttons button {
    display: block;
    color: white;
    border-radius: 3px;
    border: none;
    height: 50px;
  }
  .menu-button {
    height: 60px;
    width: 60px;
  }
  .search-bar {
    display: flex;
    height: 60px;
    width: 300px;
  }
  .search-bar button {
    background-color: #a09ca4;
    border: none;
    width: 60px;
    height: 60px;
  }
  .search-bar button img {
    filter: invert(1);
  }
  .search-bar #search {
    display: none;
    margin: 0;
  }
  .search-bar #search2 {
    display: inline;
    background-color: white;
    width: 300px;
    height: 60px;
    border-radius: 0px;
  }
  .search-bar button {
    display: inline;
  }
  .header-top {
    gap: 5px;
    height: 40px;
    align-items: normal;
    margin: auto auto;
    justify-content: center;
  }
  .header-top div {
    margin: 25px 25px 0px 25px;
  }
  .header-top button {
    display: block;
  }
  .header-top img {
    margin: 0;
  }
  .nav-dropdown {
    display: none;
    flex-wrap: wrap;
    justify-content: normal;
    align-content: space-between;
    padding: 0 10vw;
    row-gap: 20px;
  }
  .nav-dropdown li {
    white-space: nowrap;
  }
  .nav-dropdown span {
    margin-right: 10px;
  }
  .icon-cd-1::before {
    content: "\e996";
  }
  .icon-cd-2::before {
    content: "\e9af";
  }
  .icon-cd-3::before {
    content: "\ea31";
  }
  .icon-cd-4::before {
    content: "\e959";
  }
  .icon-cd-5::before {
    content: "\e931";
  }
  .icon-cd-6::before {
    content: "\ea2e";
  }
  .icon-cd-7::before {
    content: "\e9c8";
  }
  .icon-cd-8::before {
    content: "\e973";
  }
  .icon-cd-9::before {
    content: "\e957";
  }
  .icon-cd-10::before {
    content: "\e9c2";
  }
  .icon-cd-11::before {
    content: "\e9c3";
  }
  .icon-cd-12::before {
    content: "\e9cb";
  }
  .icon-cd-13::before {
    content: "\e91e";
  }
  .icon-s-1::before {
    content: "\e911";
  }
  .icon-s-2::before {
    content: "\e9af";
  }
  .icon-s-3::before {
    content: "\e957";
  }
  .icon-s-4::before {
    content: "\e905";
  }
  .icon-s-5::before {
    content: "\e9c2";
  }
  .icon-s-6::before {
    content: "\e963";
  }
  .icon-dm-1::before {
    content: "\e986";
  }
  .icon-dm-2::before {
    content: "\e93e";
  }
  .icon-dm-3::before {
    content: "\e99d";
  }
  .icon-dm-4::before {
    content: "\ea86";
  }
  .icon-dm-5::before {
    content: "\e973";
  }
  .icon-dm-6::before {
    content: "\e905";
  }
  .icon-ts-1::before {
    content: "\e93a";
  }
  .icon-ts-2::before {
    content: "\e942";
  }
  .icon-ts-3::before {
    content: "\e944";
  }
  .icon-ts-4::before {
    content: "\e9a7";
  }
  .icon-ts-5::before {
    content: "\e9bb";
  }
  .icon-ts-6::before {
    content: "\e942";
  }
  .icon-wd-1::before {
    content: "\e909";
  }
  .icon-wd-2::before {
    content: "\e93b";
  }
  .icon-wd-3::before {
    content: "\e956";
  }
  .icon-wd-4::before {
    content: "\e91b";
  }
  .icon-wd-5::before {
    content: "\e959";
  }
  .icon-wd-6::before {
    content: "\e9c2";
  }
  .icon-cs-1::before {
    content: "\e927";
  }
  .icon-cs-2::before {
    content: "\e94f";
  }
  .icon-cs-3::before {
    content: "\e98f";
  }
  .icon-cs-4::before {
    content: "\e905";
  }
  .icon-cs-5::before {
    content: "\e9b4";
  }
  .icon-cs-6::before {
    content: "\e990";
  }
  .icon-dc-1::before {
    content: "\e957";
  }
  .icon-dc-2::before {
    content: "\ea80";
  }
  .icon-dc-3::before {
    content: "\ea0a";
  }
  .icon-dc-4::before {
    content: "\e973";
  }
}/*# sourceMappingURL=styles.css.map */