* {
    font-family: "Bitcount Grid Double", system-ui;
}

body {
    background-color: black;
}

h1 {
    font-size: 64px;
    color: red;
    text-align: center;
    text-shadow: 0 0 15px red;
}

h2 {
    font-size: 40px;
    color: red;
    text-align: center;
    text-shadow: 0 0 15px red;
}

li {
    color: red;
    font-size: 32px;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    text-wrap: nowrap;
}

p {
    font-size: 30px;
    text-shadow: 0 0 15px red;
}

button {
    border: none;
    border-bottom: 5px solid darkred;
    transition: .3s;
    border-radius: 5px;
    background-color: red;
    font-size: 30px;
    display: inline-block;
    padding-bottom: 0px;

        &:hover {
        box-shadow: 0 0 25px red;
        font-size: 40px;
        border-bottom: 0px solid darkred;
        padding-bottom: 5px;
    }
}

a {
    color: black;
    text-shadow: 0 0 0 red;
    text-decoration: none;
}

.newest::before {
    content: "NEW! - ";
    color: yellow;
    text-shadow: 0 0 25px lightyellow;
    border: none;
    font-size: 30px;
    transition: 0.3s;
}

.updated::before {
    content: "UPDATED! - ";
    color: yellow;
    text-shadow: 0 0 25px lightyellow;
    border: none;
    font-size: 30px;
    transition: 0.3s;
}

.unavailable::before {
    content: "UNAVAILABLE - ";
    color: red;
    text-shadow: 0 0 25px red;

}